/*===========RESET===============*/

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Arial, sans-serif;
}

body {
    background-color: #f5f5f5
}

a {
    text-decoration: none
}

ul {
    max-width: 100%;
}

img {
    max-width: 100%;
}

/*===========FIRST MOBILE===============*/

/*==========CABECALHO===============*/

.cabecalho {
    position: fixed;
    width: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.9);
    font-weight: bold;
}

.open-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: white;
    border-radius: 56px;
    cursor: pointer;
    background: transparent;
}

/*===========MENU===============*/

.menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
}

.menu ul {
    list-style-type: none;
    padding-top: 20%;
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.5%;
}

.menu li a {
    font-size: 1em;
    color: #fff;
    padding: 1.5% 3%;
}

.menu li a:hover {
    border: 1px solid #da6709;
}

.close-menu {
    float: right;
    margin-right: 3%;
    width: auto;
    font-size: 1.5em;
    text-align: right;
    cursor: pointer;
    padding: 5%;
    background-color: transparent;
    color: #fff;
}

/*==============================*/

/*===========BANNER===============*/

.banner {
    padding: 5%;
    width: 100%;
    height: 600px;
    background: url("../images/bg.jpg") no-repeat fixed;
}

.title {
    padding-top: 20%;
    width: 100%;
    text-shadow: black;
}

.title h2 {
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.title h3 {
    padding: 2%;
    float: right;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

.btn-cv {
    font-weight: bold;
    margin-top: 5%;
    float: left;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

.banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 50%;
    height: 50%;
    border-radius: 100px;
}

/*===========ABOUT===============*/

.about {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.9);
}

.about img {
    margin-bottom: 10%;
    width: 100%;
    border-radius: 5px;
}

.about h4 {
    padding: 2%;
    text-align: center;
    color: rgb(221, 213, 213);
    font-weight: bold;
}

.about p {
    padding: 5%;
    text-align: left;
    color: rgb(221, 213, 213);
}

/*==============================*/

/*===========SKILLS===============*/

.skills {
    padding: 5%;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.9);
}

.skills h4 {
    margin-top: 15%;
    padding: 3%;
    text-align: center;
    color: rgb(221, 213, 213);
    font-weight: bold;
}

.skills p {
    padding: 5%;
    text-align: left;
    color: rgb(221, 213, 213);
}

/*==============================*/

/*===========EXPERIENCE==============*/

.experience {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.9);
}

.experience img {
    width: 100%;
    height: 200px;
    color: black;
    text-shadow: 0px 0px 5px black;
}

.experience h4 {
    padding: 3%;
    text-align: center;
    color: rgb(221, 213, 213);
    font-weight: bold;
}

.experience p {
    padding: 5%;
    text-align: left;
    color: rgb(221, 213, 213);
}

/*==============================*/

/*===========CONTACT===============*/

.contact {
    width: 100%;
    background: url("../images/bg5.jpg") no-repeat;
    padding: 5%;
}

.contact h4 {
    padding: 2%;
    font-size: 1em;
    text-align: center;
    color: rgb(221, 213, 213);
    font-weight: bold;
}

.contact form {
    border-radius: 5px;
    width: 100%;
}

.contact form input.campo_nome {
    margin-top: 3%;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    border: solid 1px transparent;
    border-radius: 5px;
}

.contact form input.campo_email {
    margin-top: 3%;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    border: solid 1px transparent;
    border-radius: 5px;
}

.contact form textarea.msg {
    margin-top: 3%;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    border: solid 1px transparent;
    border-radius: 5px;
}

.contact input.btn_submit {
    margin-top: 8%;
    font-weight: bold;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

/*==============================*/

/*===========RODAPE===============*/

.rodape {
    padding-top: 10%;
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.9);
}

.social-icons a {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    color: rgb(255, 255, 255);
}

.copyright {
    font-size: 0.8em;
    padding: 10%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

/*==============================*/

/*===========RESPONSIVE SMALL DEVICE===============*/

@media screen and (min-width: 480px) {
    /*===========MENU===============*/
    .menu {
        display: block !important;
        width: 100%;
        height: 60px;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .open-menu {
        display: none;
    }
    .close-menu {
        display: none;
    }
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .menu li {
        float: left;
    }
    .menu li a {
        color: white;
        padding: 3%;
        font-size: 0.8em;
    }
    .menu li a:hover {
        border: 1px solid #da6709;
    }
    /*==============================*/
    /*===========BANNER===============*/
    .banner {
        width: 100%;
        height: 900px;
        background: url("../images/bg.jpg") no-repeat fixed;
    }
    .title {
        width: 100%;
        text-shadow: black;
    }
    .title h2 {
        margin-top: -70px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        font-size: 2em;
    }
    .title h3 {
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 1em;
    }
    .banner img {
        display: block;
        margin-top: -150px;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 20%;
        border-radius: 200px;
    }
    /*==============================*/
    .conteudo-principal {
        width: 100%;
        height: 1000px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    /*===========ABOUT===============*/
    .about {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        float: left;
        width: 33%;
        height: 800px;
        background-color: transparent;
        border: #fff;
        border-radius: solid 5px;
    }
    .about img {
        margin-bottom: 10%;
        width: 400px;
        height: 200px;
        border-radius: 5px;
    }
    .about h4 {
        padding: 2%;
        text-align: center;
        color: rgb(221, 213, 213);
        font-weight: bold;
    }
    .about p {
        padding: 5%;
        text-align: left;
        color: rgb(221, 213, 213);
    }
    /*==============================*/
    /*===========SKILLS===============*/
    .skills {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        float: left;
        width: 33%;
        height: 800px;
        background-color: transparent;
        border: #fff;
        border-radius: solid 5px;
    }
    .skills #myChart {
        margin-bottom: 10%;
        width: 400px;
        height: 200px;
        border-radius: 5px;
    }
    .skills h4 {
        padding: 2%;
        text-align: center;
        color: rgb(221, 213, 213);
        font-weight: bold;
    }
    .skills p {
        padding: 5%;
        text-align: left;
        color: rgb(221, 213, 213);
    }
    /*==============================*/
    /*===========EXPERIENCE==============*/
    .experience {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        float: left;
        width: 33%;
        height: 800px;
        background-color: transparent;
        border: #fff;
        border-radius: solid 5px;
    }
    .experience img {
        margin-bottom: 10%;
        width: 400px;
        height: 200px;
        border-radius: 5px;
    }
    .experience h4 {
        padding: 3%;
        text-align: center;
        color: rgb(221, 213, 213);
        font-weight: bold;
    }
    .experience p {
        padding: 5%;
        text-align: left;
        color: rgb(221, 213, 213);
    }
    /*==============================*/
    /*===========CONTACT===============*/
    .contact {
        padding-top: 10%;
        width: 100%;
        background: url("../images/background-contato.jpg") no-repeat fixed;
    }

    .contact h4 {
        margin-top: -5%;
        padding: 2%;
        font-size: 1em;
        text-align: center;
        color: rgb(221, 213, 213);
        font-weight: bold;
    }
    .contact form {
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .contact form input.campo_nome {
        width: 100%;
        color: rgba(0, 0, 0, 0.9);
        border: solid 1px transparent;
        border-radius: 5px;
    }
    .contact form input.campo_email {
        margin-top: 3%;
        width: 100%;
        color: rgba(0, 0, 0, 0.9);
        border: solid 1px transparent;
        border-radius: 5px;
    }
    .contact form textarea.msg {
        margin-top: 3%;
        width: 100%;
        color: rgba(0, 0, 0, 0.9);
        border: solid 1px transparent;
        border-radius: 5px;
    }
    .contact input.btn_submit {
        margin-top: 8%;
        font-weight: bold;
        width: 100%;
        height: 30px;
        color: #fff;
        font-size: 1em;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 5px;
    }
    /*==============================*/
    /*===========RODAPE===============*/
    .rodape {
        padding-top: 10%;
        text-align: center;
        width: 100%;
        height: 600px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .social-icons a {
        font-size: 2em;
        color: rgba(255, 255, 255, 0.7);
    }
    .social-icons a:last-child {
        margin-right: 0;
    }
    .social-icons a:hover {
        color: rgb(255, 255, 255);
    }
    .copyright {
        font-size: 0.8em;
        padding: 10%;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
    }
    /*==============================*/
}